.paragraph{
    text-align: center;
    font-family: "Hill House", fantasy;
}

.paragraph2{
    text-align: center;
}

.links {
     font-family: "Hill House", fantasy;
    text-align: center;
}

.img {
    background-image:url(scroll-background-scroll-background-2-1-jpg-26.jpg)
}